body {
    text-align: center;
}

h2 {
    text-align: center;
}

ol {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

ul {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

.container {
    text-align: center;
}

button {
  display: inline-block;
  margin: 10px;
}

footer {
    text-align: center;
}

body {
background-image: url('https://tse3.mm.bing.net/th/id/OIP.772ouBIXhxgwQ-dnq1JQ6gHaEK?r=0&rs=1&pid=ImgDetMain&o=7&rm=3');
background-size: cover;
background-position: center;
}

