body {
    text-align: match-parent;
}

h2 {
    text-align: center
    ;
}

ol {
    width: fit-content;
    margin: 67 auto;
    text-align: start;
}

ul {
    width: fit-content;
    margin:  auto;
    text-align: right;
}

.container {
    text-align: center;
}

button {
  display: inline-block;
  margin: 67px;
}

footer {
    text-align: end;
}

body {
background-image: url('https://tse3.mm.bing.net/th/id/OIP.772ouBIXhxgwQ-dnq1JQ6gHaEK?r=0&rs=1&pid=ImgDetMain&o=7&rm=3');
background-size: cover;
background-position: center;
}

